.sidebar.filtros {
background: #fff;
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
color: #000000;
height: 70%;
}
.product-img {
width: 100%;
height: auto;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
margin-bottom: 10px;
}
.product-card {
text-align: center;
}

#carrinho-fixo {
  color: red;
  cursor: pointer;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;    
}


.overflow-auto::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .sidebar.filtros{
    margin: 10%;
  }
}
