/* ===== LAYOUT PRINCIPAL ===== */

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #f3f3f7;
    font-family: Arial, sans-serif;
}

/* ===== ÁREA DE CONTEÚDO ===== */

.conteudo {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 30px;
}

/* ===== CABEÇALHO ===== */

.topo-dashboard {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pesquisa-dashboard {
    position: relative;
}

.pesquisa-dashboard input {
    font-size: 15px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.icone-pesquisa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.foto-perfil-dashboard {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* ===== MÉTRICAS SUPERIORES ===== */

#dashboard {
    padding: 30px;
}

#metricas-superiores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#metricas-superiores > div {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

#metricas-superiores p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

/* Etiquetas de variação */
.positive { background: #28a745; }
.neutral  { background: #888; }
.negative { background: #dc3545; }

/* ===== CENTRO ===== */

#centro {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.Graficos {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.img-graficos {
    width: 100%;
    height: 250px;
    background: #e8e8e8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-weight: 600;
}

.metricas-laterais{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.metricas-laterais > div {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* ===== ATALHOS ===== */

.atalhos {
    margin-top: 20px;
}

.grade-atalhos {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grade-atalhos > div {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: bold;
}

.grade-atalhos > div:hover {
    transform: translateY(-3px);
    background-color: #ffe4c4;
}